.header {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__top,
  &__contacts,
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  &__top {
    width: 100%;
    background-color: var(--blue);
  }

  &__contacts {
    width: 100%;
    color: var(--white);
    padding: 10px 0;
    justify-content: space-around;
  }

  &__contacts a {
    color: var(--white);
  }

  &__btn {
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 4px;
    padding: 6px 16px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-top: 10px;
    &__top {
      display: none;
    }

    &__body {
      flex-direction: column;
      gap: 20px;
    }
  }
}
