.services {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__img {
    height: 300px;
  }
  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (max-width: 1240px) {
  .services {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 40px 20px;
    }
  }
}

@media (max-width: 550px) {
  .services {
    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__img {
      height: 200px;
    }
  }
}
