:root {
  // COLOR

  --simple-black: #000;

  --black: #1e272e;
  --white: #f5f6fa;

  --grey: #bdc3c7;

  --blue: #0f2499;
  --blue-accent: #041369;
  --blue-trans: rgb(6%, 14%, 60%, 0.9);
  --light-green: #d4ffba;

  --vk: #0077ff;

  // FONTS

  --main-fonts: "Montserrat", Helvetica, sans-serif;
}
